<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Buscar Precio de Libro</h1>
    <form method="POST" action="/buscar">
        <label for="nombre_libro">Nombre del libro:</label>
        <input type="text" id="nombre_libro" name="nombre_libro" required>
        <button type="submit">Buscar</button>
    </form>
</body>
</html>
