<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <h1>Resultados de Búsqueda</h1>
    {% if resultados %}
        <ul>
        {% for resultado in resultados %}
            <li>
                <img src="{{ resultado.imagen }}" alt="{{ resultado.titulo }}" width="154" height="252" />

                <a href="{{ resultado.link }}">{{ resultado.titulo }}</a> - {{ resultado.precio }} ({{ resultado.tienda }})
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
</body>
</html>